/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  -ms-overflow-style: scrollbar;
  -webkit-app-region: drag;
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow: scroll;
  background-color: #162025;
  position: absolute;
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
