.topBar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5% 5%;
  padding-bottom: 0;
  padding-left: 3%;
  width: 100%;
}

.backButton {
  cursor: pointer;
  padding: 2% 4%;
}

.backButton img {
  margin: auto;
}

.displayDate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(252, 243, 81, 0.92);
}

.displayDate h2 {
  margin: auto;
  font-size: 1.33em;
}
