.calendar {
  border: 1px solid white;
  padding: 5px;
}

.calendar>tr:nth-child(1) {
  font-weight: bolder;
}

.calendar>tr:nth-child(1)>td {
  will-change: transform;
  animation: fadein 0.7s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.calendar>tr:nth-child(1)>td:hover {
  border: 2px solid transparent !important;
}
.monthAndYear {
  flex: 3;
  text-align: center;
}

td {
  padding: 4% 0%;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  width: 65px;
  box-shadow: inset 0 0 0 2px transparent;
  transition: box-shadow 0.34s ease-in-out;
}

td:hover {
  box-shadow: inset 0 0 0 2px rgb(252, 243, 81, 0.7);
}

.no-anim:hover {
  box-shadow: inset 0 0 0 2px transparent !important;
}

.today {
  color: rgb(252, 243, 81);
  font-weight: bolder;
}

.zoomin {
  will-change: transform;
  animation: zoom 0.7s ease-in-out;
}

@keyframes zoom {
  0% {
    opacity: 0.2;
    transform: scale(0.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
